body {
    font-family: Bahnschrift, sans-serif;
    margin: 20px;
    color: white;
    padding: 10px;
    background-color: #1e1e1e;
    line-height: 1.6;
    font-size: 18px;

}

h1 {
    color: #5dbc95;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    color: white;
}

footer {
    margin-top: 330px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 3px solid rgb(56, 52, 52);
    font-family: Bahnschrift, sans-serif;
}

th,
td {
    border: 1px solid rgb(56, 52, 52);
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #252424;
}


@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

table {
    animation: slideUp 1s ease-out forwards;
}

th {
    color: #5dbc95; 
}
td {
    color: white;
}



.our-goal-text,
.about-text {
    background-color: #222121;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(56, 52, 52);
    margin-top: 20px;
    line-height: 1.7;
    font-size: 18px;
}

.about-text ul {
    margin-top: 15px;
    padding-left: 20px;
}

.about-text li {
    margin-bottom: 10px;
}

h1 {
    color: #5dbc95;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}


/* Base class for animated sections */
.fade-in-section {
    opacity: 0;
    animation: fadeInUp 1.2s ease-out forwards;
}

/* Animation keyframes */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
